<template name="capture">
  {{> capture_nav}}

  {{#ionView}}
    {{#ionContent}}
      {{#if loadingResults}}
        {{> loading}}
      {{else}}
        <div class="solarsystem-outer">
          <div class="solarsystem">
            <div class="planet mercury"></div>
            <div class="planet venus"></div>
            <div class="planet earth">
              <div class="moon"></div>
            </div>
            <div class="button-capture sun" id="js-capture"></div>
          </div>
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>
