@import 'client/stylesheets/includes.scss';

.padded {
  padding: 40px 0;
  text-align: center;
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.view {
  background-color: #666 !important; 
  background-image: url('assets/glossy_background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  height: $nav_height;
}

.nav-view-transition-ios.nav-view-direction-forward, 
.nav-view-transition-ios.nav-view-direction-back {
  background: transparent;
}

.tabs {
  color: #fff;
  background: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: $nav_height;
}

.bar.bar-transparent {
  background: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: $nav_height;
}
.bar .title {
  color: #fff;
}

// .button-capture-container {
//   @include calc("padding-top", "40% + #{$nav_height}");
//   width: 100%;
// }

.button-capture {
  // background: none;
  // border: none;
  // margin: 0 auto;
  // display: block;
  // font-size: 90px;
  // width: 180px;
  // height: 180px;
  // border-radius: 50%;
  // background-color: rgba(84, 212, 222, 0.9);
  // color: #fff;
  z-index: 999;
  background-image: url('assets/microphone.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* results template styles */

.pluto {
  padding: 70px 20px;
  text-align: center;
  color: #fff;
}

.original {
  border-left: 2px solid #8BBDBD;
}

.results {
  border-left: 2px solid orange;
}

.panel {
  padding: 30px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.panel-title {
  color: #fff;
}


/* sidebar styles */

.side-item {
  background-color: rgba(255, 255, 255, 0);
}

.side-item:first-child, .side-item:last-child {
  border: none;
  border-bottom: 1px solid gray; 
}


.item.side-item {
  color: #fff;
}
